.dashboard{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    position: relative;
    z-index: 99;

    .container {
        box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
        width: 96%;
         margin: 0 auto; /* to center the container */
        position: relative;
        height: 95%;
        .imgback{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        }
      }
}
.selected {
    background: #beccca !important;
    margin-right: 10%!important;
    margin-left: 3%;
}

.options {
    padding: 8px;
    border: 1px solid rgb(219, 214, 214);
    cursor: pointer;
    // width:100%;
    background-color: white;
    color: steelblue;
    font-weight: bold;
    border-radius: 12px;
    margin-left: 2%;
    margin-right: 2%;
    
}

ul {
    list-style-type: none;
}

ul li {
    margin: 5px;
}

.insideimg{
    position: absolute;
}

.QuestionBox{
    position: absolute;
    background-color: #ece9e9;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    width: 50%;
    height: 90%;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 62px;
}
.questioncount{
 margin-left: 40%;
 text-align:center!important
}
.questionclass{
 margin-left: 3%;
 text-align: center;
}
.nextquestionbtnclass{
color: #494949 !important;
text-transform: uppercase;
text-decoration: none;
background: #ffffff;
padding: 20px;
border: 1px solid #494949 !important;
display: inline-block;
transition: all 0.4s ease 0s;
border-radius: 62px;
}
.nextquestionbtnclass:hover {
    color: #ffffff !important;
    background:#a0bed8;;
    border-color: #6689a8 !important;
    transition: all 0.4s ease 0s;
    }
.finalScore{
    position: absolute;
}